.blink(@count) {
	-webkit-animation: blink .75s linear;
	-moz-animation: blink .75s linear;
	-ms-animation: blink .75s linear;
	-o-animation: blink .75s linear;
	animation: blink .75s linear;
	animation-iteration-count: @count;
	-webkit-animation-iteration-count:@count;
	.params() {
		0% { opacity: 1; }
		50% { opacity: 0.5; }
		50.01% { opacity: 0.5; }
		100% { opacity: 0; }
	}
	@-webkit-keyframes blink {
		.params();
	}
	@-moz-keyframes blink {
		.params();
	}
	@-ms-keyframes blink {
		.params();
	}
	@-o-keyframes blink {
		.params();
	}
	@keyframes blink {
		.params();
	}
}




body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 90%;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

.app {
	iframe {
		border: none;
		width: 100%;
	}
}


#demoAppList {
	ul {
		margin:0;
		padding:0;
		li {
			list-style-type: none;
			width: 200px;
			height: 30px;
			border: 1px solid;
			margin: 5px;
			padding: 5px;

			// yes i know there is nth-child ...
			&.even {
				background-color: white;
			}
			&.odd {
				background-color: #d3d3d3;
			}
			span {
				float: left;
			}
			a {
				float:right;
			}
		}
	}
}

.page {
	.intro {
		padding-bottom:20px;
		margin:0;
	}
	.demo {
		background-color: white;
		width: 100%;
		border: 5px red solid;
		padding:10px;
		.controlWithFeedback {
			&.feedback-error {
				label {
					color: red;
					.blink(5);
				}
			}
			.feedback-error {
				color:red;
			}
			.feedback-info {
				color:white;
				background-color: deepskyblue;
			}

			li.myError {
				&.feedback-info {
					.label-error {
						display:none;
					}
				}
				&.feedback-error {
					.label-info {
						display:none;
					}
				}
			}
		}



	}
}
