<div>

    <div id="inputFoo" class="control">
        foo
        <input name="foo" type="text">
        <span class="current-text" data-model-attr="foo">current value</span>
        <span class="feedback"></span>
    </div>

    <div id="inputBar" class="control">
        bar
        <input name="bar" type="text">
        <span class="current-text" data-model-attr="bar">current value</span>
        <span class="feedback"></span>
    </div>

    <div id="inputBoo" class="control">
        boo
        <input name="boo" type="text">
        <span class="current-text" data-model-attr="boo">current value</span>
        <span class="feedback"></span>
    </div>

    <div id="checkBooBool" class="control">
        booBol
        <input type="checkbox" name="superBool">
        <span id="displaySuperBool" class="current-bool" data-model-attr="superBool">... boo bol goes here</span>
    </div>

    <div id="inputSelectYear" class="control">
        year
        <select name="year"></select>
        <span class="feedback"></span>
    </div>

    <div id="inputSelectMonth" class="control">
        month
        <select name="month"></select>
        <span class="feedback"></span>
    </div>


    <div>
        <div id="inputSelectDay" class="control">
            day
            <select name="day"></select>
            <span class="feedback"></span>
        </div>

        <div id="tagEditor" class="control"></div>

        <hr>

        <div id="twoTag" class="tagEditor">
            <div id="inputTag" class="control">
                <ul id="tagList" class="tags"></ul>
                <input type="text">
                <label>my custom crap</label>
            </div>
        </div>

    </div>

</div>